img {
    width : 300px;
    height : auto
}

.viking-eating {
    width : auto;
    height : auto;
}

body {
    background-color:rgb(45, 45, 45);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
a {
    color:bisque
}