@font-face {
    font-family: "Norse";
    src: url(../fonts/Norse.otf);
    font-weight: normal;
}
@font-face {
    font-family: "Norse",;
    src: url(../fonts/Norsebold.otf);
    font-weight: bold;
}


img {
    width : 300px;
    height : auto
}
 
.bg-grey{
 background-color:rgb(57, 57, 57)
}
.viking-eating {
    border : solid 5px black;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:auto;
    height:200%;
    position:fixed;
    z-index: -1;
}

.center{
    text-align:center;
}
.center.title,
.center.explore{
    position:sticky;
    top:0px;
}
  
.center.title{
    margin-bottom: 650px;
}
body {
    background-color:rgb(45, 45, 45);
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}
h1, h3 {
    font-family: Norse, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 3px;
}
a {
    color:bisque
}
.explore,
.title{
    margin:-8px;
    padding:10px
}
.center.explore{
    z-index: 2;
}
.bg-lightgrey{
    background-color:rgb(45, 45, 45);
    margin-bottom:-8px;
    margin-right:-8px;
    margin-left:-8px;

}
.bg-lightgrey p{
    margin-top:8px;
    padding:15px;
}
.viking-flatbread{
    padding-bottom:10px;
}