@font-face {
    font-family: "Norse";
    src: url(../fonts/Norse.otf);
    font-weight: normal;
}
@font-face {
    font-family: "Norse",;
    src: url(../fonts/Norsebold.otf);
    font-weight: bold;
}


img {
    width : 300px;
    height : auto
}

.viking-eating {
    width : auto;
    height : auto;
}

body {
    text-align: center;
    background-color:rgb(45, 45, 45);
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}
h1, h3 {
    font-family: Norse, Helvetica, sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
}
a {
    color:bisque
}